<html>
<head>
    <link rel="stylesheet" type="text/css" href="//cloud.webtype.com/css/944a7551-9b08-4f0a-8767-e0f83db4a16b.css" />
    <link rel="stylesheet" href="http://style.codeforamerica.org/style/css/main.css">
    <link rel="stylesheet" href="http://style.codeforamerica.org/style/css/layout.css" media="all and (min-width: 40em)">

    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>
<body style="background-color:#FFFFFF;">
    <form action="/message" method="POST">
        <input type="textarea" id="message" name="message"></input>
        <button id="submit">BLAST</button>
    </form>
</body>
</html>
